{% load static %}
<aside class="main-sidebar sidebar-light-primary elevation-4">
    <a href="{% url 'erp:dashboard' %}" class="brand-link">
        <img src="{% static 'img/avila.png' %}"
             alt="AdminLTE Logo"
             class="brand-image img-circle elevation-3"
             style="opacity: .8">
        <span class="brand-text font-weight-light">Avila Bikes</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="{{ request.user.get_image }}" class="img-circle" alt="User Image">
            </div>
            <div class="info">
                <a href="#" class="d-block">{{ request.user.username }}</a>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-header">Opciones</li>
                <li class="nav-item">
                    <a href="{% url 'erp:cash_flow' %}" class="nav-link">
                        <i class="nav-icon fas fa-credit-card"></i>
                        <p>
                            Cash flow
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'erp:ticket_create' %}" class="nav-link">
                        <i class="nav-icon fas fa-receipt"></i>
                        <p>
                            Ticket
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'erp:sale_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-file"></i>
                        <p>
                            Facturas
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'erp:client_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            Clientes
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'erp:gasto_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-folder-minus"></i>
                        <p>
                            Gastos
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'sale_report' %}" class="nav-link">
                        <i class="nav-icon fas fa-chart-bar"></i>
                        <p>
                            Reporte de Facturas
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'ticket_report' %}" class="nav-link">
                        <i class="nav-icon fas fa-chart-line"></i>
                        <p>
                            Reporte de Tickets
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'erp:product_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-box"></i>
                        <p>
                            Productos
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'erp:category_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-boxes"></i>
                        <p>
                            Categorías
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{% url 'user:user_list' %}" class="nav-link">
                        <i class="nav-icon fas fa-user-friends"></i>
                        <p>
                            Usuarios
                        </p>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
