.table-bordered {
    border: 0 !important;
}

.table-bordered > thead > tr > th {
    border: 0 !important;
    border-bottom: solid 1px #343a40 !important;
}

table.table-bordered.dataTable tbody td {
    border-bottom-width: 1px !important;
}

.table-bordered > tbody > tr > td {
    border: 0 !important;
    border-bottom: 1px solid #cccccc !important;
}

.table-md th, .table-md td {
    padding: 0.55rem;
    font-size: 14px;
}

.card-footer {
    border-top: 1px solid #dee2e6;
}

.btn {
    color: white !important;
}

td.details-control {
    background: url('../lib/datatables-1.10.20/images/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../lib/datatables-1.10.20/images/details_close.png') no-repeat center center;
}

/* Ajusta la altura y alineación del select2 */
.select2-container--default .select2-selection--single {
    height: 40px !important;         /* Altura del select */
    padding: 5px 10px !important;    /* Espaciado interno */
    display: flex !important;
    align-items: center !important;  /* Centra el texto/badge verticalmente */
    border-radius: 10px !important;  /* Bordes redondeados para mejor estética */
}

/* Ajusta el texto dentro del select2 */
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: normal !important; /* Alineación vertical del texto */
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;        /* Centra horizontalmente */
}

/* Ajuste del icono desplegable */
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 100% !important;
    right: 10px !important;
}
