{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'taller/js/list2.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 8%;">ID Orden</th>
        <th scope="col" style="width: 10%;">Status</th>
        <th scope="col" style="width: 8%;">Fecha</th>
        <th scope="col" style="width: 19%;">Cliente</th>
        <th scope="col" style="width: 31%;">Detalle</th>
        {% comment %} <th scope="col" style="width: 8%;">Imagen</th> {% endcomment %}
        <th scope="col" style="width: 6%;"># Antiguo</th>
        <th scope="col" style="width: 8%;">Presupuesto</th>
        <th scope="col" style="width: 10%;">Opciones</th>
    </tr>
{% endblock %}

{% block javascript %}

{% endblock %}