{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'taller/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 5%;"># de Orden</th>
        <th scope="col" style="width: 10%;">Fecha</th>
        <th scope="col" style="width: 10%;">Nombre</th>
        <th scope="col" style="width: 10%;">Apellido</th>
        <th scope="col" style="width: 10%;">Teléfono</th>
        <th scope="col" style="width: 10%;">Vehículo/Color</th>
        <th scope="col" style="width: 20%;">Detalle</th>
        <th scope="col" style="width: 5%;">A Pagar</th>
        <th scope="col" style="width: 10%;">Status</th>
        <th scope="col" style="width: 10%;">Opciones</th>
    </tr>
{% endblock %}

{% block javascript %}

{% endblock %}