{% extends 'list.html' %}
{% load static %}
{% block head_list %}
    <script src="{% static 'lib/moment-2.25.3/moment.js' %}"></script>
    <script src="{% static 'lib/daterangepicker-3.1/spanish.js' %}"></script>
    <script src="{% static 'lib/daterangepicker-3.1/daterangepicker.js' %}"></script>
    <link rel="stylesheet" href="{% static 'lib/daterangepicker-3.1/daterangepicker.css' %}"/>

    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/plugins/buttons-1.6.1/css/buttons.bootstrap.min.css' %}"/>
    <script src="{% static 'lib/datatables-1.10.20/plugins/buttons-1.6.1/js/dataTables.buttons.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/jszip-2.5.0/jszip.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/pdfmake-0.1.36/pdfmake.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/pdfmake-0.1.36/vfs_fonts.js' %}" type="text/javascript"></script>
    <script src="{% static 'lib/datatables-1.10.20/plugins/buttons-1.6.1/js/buttons.html5.min.js' %}" type="text/javascript"></script>

    <script src="{% static 'cash/js/report.js' %}"></script>
{% endblock %}

{% block content %}
<div class="card card-primary">
    <div class="card-header bg-dark">
        <h3 class="card-title">
            <i class="fas fa-chart-bar"></i>
            {{ title }}
        </h3>
    </div>
    <div class="card-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-5 col-md-12">
                    <div class="mb-3">
                        <label class="form-label fw-bold">Rango de Fechas:</label>
                        <div class="input-group mb-3">
                            {{ form.date_range }}
                            <button class="btn btn-warning btnSearchAll" type="button">
                                <i class="fas fa-calendar-check"></i> Todos los Registros
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <hr>
                    <table class="table table-bordered" id="tblReport" style="width:100%;">
                        <thead>
                        <tr>
                            <th scope="col">Fecha Banqueado</th>
                            <th scope="col">Total Venta Tarjeta</th>
                            <th scope="col">Total Venta Efectivo</th>
                            <th scope="col">Total Gastos</th>
                            <th scope="col">Dinero en caja</th>
                            <th scope="col">Diferencia Caja</th>
                            <th scope="col">Dinero que queda en Caja</th>
                            <th scope="col">Monto Banqueado</th>
                            <th scope="col">Realizado por</th>
                        </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
    </div>
    <div class="card-footer">
        <a href="{{ back_url }}" class="btn btn-dark">
            <i class="fas fa-arrow-left"></i> Cash Flow
        </a>
    </div>
</div>
{% endblock %}

{% block javascript %}

{% endblock %}

