{% extends 'list.html' %}
{% load static %}
{% block head_list %}

    <script src="{% static 'product/js/list.js' %}"></script>
{% endblock %}

{% block columns %}
    <tr>
        <th scope="col" style="width: 30%;">Nombre</th>
        <th scope="col" style="width: 10%;">CategorÍa</th>
        <th scope="col" style="width: 10%;">SKU</th>
        <th scope="col" style="width: 10%;">Imagen</th>
        <th scope="col" style="width: 10%;">Stock</th>
        <th scope="col" style="width: 5%;">PC</th>
        <th scope="col" style="width: 5%;">PVP</th>
        <th scope="col" style="width: 10%;">Proveedor</th>
        <th scope="col" style="width: 10%;">Opciones</th>
    </tr>
{% endblock %}

{% block javascript %}

{% endblock %}
